.publications-line{
    width: 100%;
}

.publication-text{
    font-size: 19px;
    text-align: justify;
}

.publication-jumbotron{
    padding-bottom: 0;
    padding-top: 10px;
    width: 100%;
}

.publication-link{
    color: orangered;
    font-size: 19px;
}

.publication-link:hover{
    text-decoration: none;
    color: orange;
}

.links{
    font-size: 19px;
}

.category-title{
    padding-right: 4em;
}