.teaching-line{
    width: 100%;
}

.course-title{
    font-weight: bold;
    font-size: 25px;
}

.course-time{
    font-size: 21px;
    text-align: justify;
}

.course-description{
    font-size: 21px;
    text-align: justify;
}

.course-link{
    color: orangered;
    font-size: 18px;
    text-align: left;
}

.course-link:hover{
    text-decoration: none;
    color: rgb(165, 53, 13);
}