.dropdown {
    position: relative;
    display: table-cell;
    left: 12%;
}

.navbar {
    position: relative;
    background-color: rgb(233, 232, 232);
    overflow: visible;
    height: 55px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:45px;
    right:0px;
    width: 150px;
    font-weight:bold;
    position: absolute;
    background-color: rgb(211, 209, 209);

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.book {
    color: orangered;
    text-decoration: none;  
}

.book:hover{
    color: rgb(41, 41, 243);
}

li a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    
}

li {
    color: black;
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
    
}

li:last-child {
    border-bottom: none;
}

li:hover{
    border-style: groove;
    border-color: rgb(41, 41, 243);
    color: rgb(41, 41, 243);
}

li a:hover {
    opacity: 0.8;
    cursor: pointer;
    color: rgb(41, 41, 243);
}

.button{
    position: relative;
    top: 5px;
    left: 250px;
    width: 80px;
    height: 16px;
    padding: 13px;
    margin-left: 12px;
    border-width: 1px;
    font-weight:bold;
    color:orangered;
    font-size: 15px;
    position: inherit;
    z-index: 3;
    text-decoration: none;

}

/*.button:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: white transparent transparent transparent;
    right:6px;
    top:18px;
} */

.lab-title{
    text-decoration: none;
    color: black;
}

.lab-title:hover{
    color: rgb(41, 41, 243);
}

.button:hover{
    opacity: 0.85;
    cursor: pointer;
    display: block;
    border-style: groove;
    border-color: rgb(41, 41, 243);
    color: rgb(41, 41, 243);
    border-radius: 30px;
    /*animation: load 1s forwards;*/
}

.defaultbutton{
    width:100px;
    height:18px;
    background-color: rgb(189, 184, 184);
    padding:12px;
    border-radius:3px;
    font-weight:bold;
    color:black;
    font-size: 15px;
    position: inherit;
    top: 3px;
    bottom: 10px;
    right: 275%;
    z-index: 3;
}

.defaultbutton:hover{
    opacity: 0.85;
    cursor: pointer;
    display: block;
    border-style: ridge;
    border-color: rgb(41, 41, 243);
    color: rgb(41, 41, 243);
    border-radius: 30px;
    /*animation: load 1s forwards;*/
}


.menulogo {
    display: block;
    margin: 32px 0 16px 0;
    min-width: 50px;
    min-height: 50px;
    background: url("../assets/images/general/openhid-logo.png") no-repeat scroll center center/contain;
    position: absolute;
    left: 0px;
}

.nui-big:hover{
    text-decoration: none;
    color: white;
}

.menu-link:hover{
    text-decoration: none;
}

@keyframes load{
    0%{
        transform: translateY(25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
