.login-note{
    text-align: justify;
    font-size: 20px;
}

.form-label{
    float: left;
}

.av-feedback{
    text-align: left;
    font-size: 17px;
}

.admin-form-alert {
    text-align: left;
    font-size: 18px;
}