.bigHeader{
    position: relative;
    margin-top: 3px;
    width: 60%;
    height: 300px;
    align-content: center;
}

.lab-text{
    width: 80%;
    word-wrap: break-word;
    font-size: 20px;
    text-align: justify;
}

.toggleButton1{
    position: absolute;
    vertical-align: middle;
    margin-right: 4px;
    border-radius: 50%;
    bottom: 70%;
    left: 18%;
}

.toggleButton2{
    position: absolute;
    vertical-align: middle;
    margin-left: 4px;
    border-radius: 50%;
    bottom: 70%;
}

.header{
    max-height: 280px;
}

.map-image{
    width: 30%;
    max-height: 240px;
    float: left;
    padding-right: 50px;
    padding-left: 200px;
}

.lab-description{
    position: relative;
}

.line{
    width: 60%;
}
