.bigHeader{
    width: 60%;
    height: 300px;
    align-content: center;
}

.lab-text{
    word-wrap: break-word;
    width: 70%;
    font-size: 20px;
    text-align: justify;
}

.toggleButton1{
    vertical-align: middle;
    margin-right: 4px;
    border-radius: 50%;
}

.toggleButton2{
    vertical-align: middle;
    margin-left: 4px;
    border-radius: 50%;
}

.header{
    max-height: 280px;
}

.map-image{
    width: 70%;
    max-height: 240px;
    float: left;

}

.lab-description{
    max-height: 240px;
    font-size: 20px;
    margin-right: 30px;
}