.dropdown {
    position: relative;
    display: inline-block;
}

nav{
    overflow: hidden;
    background-color: #333;  
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:45px;
    right:0px;
    width: 150px;
    background-color: white;
    font-weight:bold;
    position: absolute;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
li {
    color: white;
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}
li:last-child {
    border-bottom: none;
}
li:hover {
    background-color: #282c34;
    opacity: 0.8;
    cursor: pointer;
}
.button{
    width:125px;
    height:18px;
    background-color:#ff3232 ;
    padding:12px;
    border-radius:10px;
    font-weight:bold;
    color:white;
    font-size: 20px;
}
.button:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: white transparent transparent transparent;
    right:6px;
    top:18px;
}

.button:hover{
    opacity: 0.85;
    cursor: pointer;
    display: block;
    /*animation: load 1s forwards;*/
}

@keyframes load{
    0%{
        transform: translateY(25px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
