.bigHeader{
    margin-top: 100px;
    align-content: center;
}

.lab-text{
    width: 80%;
    word-wrap: break-word;
    font-size: 20px;
    text-align: justify;
}

.toggleButton1{
    position: absolute;
    vertical-align: middle;
    margin-right: 4px;
    border-radius: 50%;
    bottom: 70%;
    left: 18%;
}

.toggleButton2{
    position: absolute;
    vertical-align: middle;
    margin-left: 4px;
    border-radius: 50%;
    bottom: 70%;
}

.header{
    max-height: 280px;
}

.map-image{
    width: 30%;
    max-height: 240px;
    float: left;
    padding-right: 50px;
    padding-left: 200px;
    padding-bottom: 50px;
}

.lab-description{
    position: relative;
}

.line{
    width: 80%;
}

.member-card-separator-csu{
    border: 5px solid rgb(34, 104, 45); 
    border-radius: 5px;
}

.member-card-separator-fiu{
    border: 5px solid blue; 
    border-radius: 5px;
}

.email{
    font-size: 20px;
    color: orangered;
}

.title{
    font-size: 25px;
}

.university-csu{
    font-size: 22px;
    color: rgb(34, 104, 45);
}

.university-fiu{
    font-size: 22px;
    color: blue;
}

.card-text{
    font-size: 24px;
}

.website-link:hover{
    text-decoration: none;
    color: white;
}

.about-h1{
    text-align: center;
}


