.proom{
    width: 400px;
    height: 400px;
    float: left;
    border-width: 100px;
    padding-right: 50px;
    padding-left: 200px;
}

.text{
    word-wrap: break-word;
    width: 100%;
    font-size: 15px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.829);
}

div{
    text-align: center;
    color: rgba(0, 0, 0, 0.829);
    font-size: 30px;
}

.home-link{
    color: orangered;
}

.home-link:hover{
    text-decoration: none;
    color: rgb(174, 58, 16);
}

.parent{
    position: relative;
    top: 0;
    left: 0;
}

h3{
    margin-top: 1%;
    margin-bottom: 1%;
}

.background{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 500px;
}


.fullscreen-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); 
}

.carousel-control-prev,.carousel-control-next {
    cursor: pointer;
}

.home-carousel .carousel-item > img{
    height: 550px;
}

.home-carousel .carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);
    
}

.home-carousel .carousel-caption h3{
    color: orangered;
    font-size: 35px;
}

.home-carousel .carousel-caption p{
    word-break: break-word;
    font-size: 23px;
}

.carousel-caption{
    color: white;
    font-size: 23px;
}


